<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css?family=Permanent+Marker|Baloo+Thambi" rel="stylesheet">
	<title>Burger Biter</title>
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	 crossorigin="anonymous"></script>
</head>

<style>
	* {
		background: url("orange.png") center fixed;
	}

	#liltitle {
		font-family: "Permanent Marker", cursive;
		font-size: 20px;
		color: rgb(132, 155, 33);
		text-shadow: 2px 2px white;
	}

	#titles {
		font-family: "Permanent Marker", cursive;
		font-size: 45px;
		color: rgb(165, 192, 43);
		text-shadow: 2px 2px white;
	}
</style>

<body>

	<center>
		<div id="liltitle">Welcome To</div>
		<header id="titles">Burger Biter 9000<br>
			<img src="burger.png" height="150px"></header>


		

		
	</center>
{{{ body }}}

</body>

</html>